
.fast-boss{
    background-color: #63d5c9;
    height: 120px;
    background-image: url('../../images/fast-reg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px;
}
.fast-img{
    height: 120px;
    margin-left: 60px;
}
.footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f6f6f8;
    color: #aeaeae;
    padding:20px;
}